/* Begin Typography & Colors */
html {
	scroll-behavior: smooth;
	scroll-padding-top: 20px; /* 원하는 값을 설정하세요 */
	transition: scroll-padding-top 0.6s ease-out; /* 여기서 scroll 시간을 조절할 수 있습니다 */
}

body {
	background: #fff;
	font-family: Gowun Dodum, sans-serif; /* 메인 폰트설정하기 */
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #000;
	background-image: none;
}

.gowun-dodum-regular {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.noto-serif-kr-regular {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

  
p { 
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 12px;
}

b { 
	font-family: Noto Sans KR, sans-serif;
	font-weight: normal;
	font-size: 12px;
}

a {
	color: black;
	text-decoration: none;
	font-weight: normal;
}

#navigation-layer .category {
	font-size: 22px;
	font-weight: normal;
	letter-spacing: 0em;
	white-space: nowrap;
}
#navigation-layer .category-not-current .inner {
	border-bottom: 0px solid #000;
}
#navigation-layer .category-current .inner {
	background-color: #000;
}
#navigation-layer .category a {
	text-decoration: none;
	border-bottom: none;
}
#navigation-layer .category-current a {
	color: #fff;
}

.index p.thumbnail {
	text-align: top;
}
.single p.post-title, .multiple p.post-title {
	margin-bottom: 0;
}
.image {
	width: 100%;
	height: inherit;
}
.image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	opacity: inherit;
	filter: inherit;
	top: 100px;
}
.image .caption {
	margin-left: auto;
	margin-right: auto;
}
.image-column .caption {
	margin-top: 15px;
}
.post .image {
	margin-top: 15px;
}

#footer {
	font-weight: normal;
	color: #999;
	font-size: 13px;
	line-height: 15px;
}

/* End Typography & Colors */

/* Begin Structure */

body {
	padding: 0;
	width: 96%;
	height: 100%;
	text-align: center;
	margin: auto;
	margin-left: 40px;
	margin-right: 0;
}
#page {
	width: 720px;
	text-align: center;
	margin: auto;
}
#header {
	width: 100%;
	height: 100px;
	font-size: 55px;
	line-height: 42px;
}
#header .column {
	width: 100%;
	margin-top: 0px;
	font-size: 22px;
	font-weight: normal;
}

.fs {
	font-size: 13px;
	line-height: 17px;
	word-spacing: -1px;
	letter-spacing: 0px;
}
.nav div.companyname {
	line-height: 28px;
	position: absolute;
	right: 32px;
    top: 32px;
}
.hf {
	width: 100%;
	margin-top: 50px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22px;
	margin-bottom: 36px;
}

#newscontent {
	width: 100%;
	min-width: 920px;
	text-align: center;
	display: block;
	margin-top: 22px;
	margin-left: 36px;
	margin-right: 36px;
	clear: both;
}

.thumbs {
	display: inline-block;
	float: none;
	margin-right: 3px;
	margin-top: 11px;
	overflow: hidden;
	position: relative;
}

.thumb {
	display: inline-block
}

.thumbtext {
	display: block;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	background-color: white;
	text-align: left;
	min-height: 26px;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.thumbs:hover .thumbtext {
	opacity: 0.9;
	transition: opacity 0.3s ease-out;
}

#navigation-layer .category {
	position: fixed;
	width: 230px;
}
#navigation-layer .category .inner {
	float: left;
	padding-bottom: 4px;
	padding-top: 4px;
}
#navigation-layer .position-3 {
	top: 37px;
	left: 40px;
	font-size: 30px;
}	
#navigation-layer .position-7 {
	top: 40px;
	right: 40px;
	width: 100%;
	height: 245px;
	font-size: 92px;
	line-height: 42px;
}
#navigation-layer .position-7 .inner {
	float: right;
}