{{/* Obsidian-style callout support in blockquotes */}}
{{/* Converts > [!type] Title format to callout divs */}}
{{ $alertTypes := dict
  "note" "note"
  "tip" "tip"
  "warning" "warning"
  "danger" "danger"
  "info" "info"
  "abstract" "note"
  "summary" "note"
  "todo" "info"
  "success" "tip"
  "question" "info"
  "failure" "danger"
  "bug" "danger"
  "example" "note"
  "quote" "note"
}}

{{ if .AlertType }}
  {{ $type := index $alertTypes (lower .AlertType) | default "note" }}
  <div class="callout callout-{{ $type }}">
    {{ with .AlertTitle }}
    <div class="callout-title">{{ . }}</div>
    {{ end }}
    <div class="callout-content">
      {{ .Inner }}
    </div>
  </div>
{{ else }}
  <blockquote>
    {{ .Inner }}
  </blockquote>
{{ end }}
